.faq-icon.flipped {
  transform: rotate(180deg);
  color: white;
}
.faq-answer.visible {
  max-height: max-content; /* Sufficient height for most answers. Adjust if needed. */
  opacity: 1;
  padding: 15px 25px 20px; /* Add back padding when visible */
  border-top: none; /* Separator for answer */
}
.faq-header.active {
  background-color: #2da884; /* Light Green Background when active */
  color: white; /* Change text color to white when active */
  border-bottom: none; /* Remove border when answer is visible (looks cleaner) */
}
.faq-header.active h3 {
  color: white; /* Change text color to white when active */
}

#Preloader {
  background-color: #2DA884;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s ease, visibility 3s ease;
}

.animatedLogo {
  color: white;
  font-weight: bold;
  animation: bounce 1.5s infinite ease-in-out;
}

body{
    overflow: hidden;
} 
body.scroll{
    overflow-y: scroll;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.1);
  }
}
